# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage
*.out

# Dependency directories
vendor/

# Air
tmp/
build-errors.log

# Environment
*.env
.env.*

# IDE
.idea/
.vscode/

# OS
.DS_Store

# build
bin
